:root {
  --primary-color: #000000;
  --dark-color: #021009;
  --secondary-color: #007be7;
  --tertiary-color: #f1fcf7;
  --gray-big: #777575;
  --gray-small: #3c3c3c;
  --light-blue: #2d1b9c;
  --white-color: #fff;
}
