.hero {
  &__heading {
    position: relative;

    [class$="work"] {
      left: 13.75rem;
      margin-top: -0.3125rem;
      position: relative;
    }

    &-divider {
      position: absolute;
      border: 0.0625rem solid #989696;
      transform: rotate(90deg);
      height: 10.3125rem;
      top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
    }
  }
}
