.header-nav {
  width: 72.3858%;
  height: 3.4375rem;
  margin: 0 auto;
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  &__items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > li {
      padding: 0.6875rem 1.1875rem;

      & > a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
    }
  }
}

.hero {
  width: 72.3858%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8.0625rem;

  &__image {
    width: 35.75rem;
    height: 26.0625rem;

    &-display {
      width: 100%;
    }
  }
}

/* For the instructors section */
.instructors {
  margin-top: 9.9375rem;
  width: 100%;
  height: 34.25rem;
  background-color: var(--white-color);
  display: flex;
  align-items: center;

  &__profile {
    width: 50%;
    height: 34.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7.5rem;

    &-001 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 6.6875rem;
      background: var(--white-color);
      padding: 1.3125rem 0.5625rem 2.4375rem;
      box-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.44);
      border-radius: 1.25rem;
    }

    &-002 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5.9375rem;
      padding: 1.3125rem 0.5625rem 2.4375rem;
      background: var(--white-color);
      box-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.44);
      border-radius: 1.25rem;
    }

    img {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__message {
    background-color: var(--secondary-color);
    width: 50%;
    height: 34.25rem;
    position: relative;
    overflow: hidden;

    &-pix1 {
      position: absolute;
      left: -1.875rem;
      bottom: -6.25rem;
      height: 16.84688rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
    &-pix2 {
      position: absolute;
      right: -7.5rem;
      bottom: -6.25rem;
      height: 16.84688rem;
      transform: rotate(-97.23deg);

      img {
        width: 100%;
      }
    }
  }
}
